//Comunes

//HTML

*{
    padding: 0;
    margin: 0;
}

html{
    position: relative;
    min-height: 100%;
}

//Body

body{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px; 
    align-items: center; 
    flex-direction: column;
    padding-bottom: 50px;
    z-index: -1;
}

.card{
    position: relative;
    max-width: 260px;
    padding: 20px 15px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    background: $backgroundColorOne;
    border-radius: 10px;
}

//Header
header{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(rgb(91,192,217), rgb(255, 255, 255));
}

//NavBar

.wrapperNav{
    display: flex;
    text-decoration: none;
    .iconNav{
        margin: 0 5px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
        &:hover .tooltipNav{
            opacity: 1;
            bottom: -55px;
            pointer-events: auto;
        }
        .tooltipNav{
        position: absolute;
        bottom: -55px;
        background: rgb(214,214,214);
        color:rgb(214,214,214);
        font-family: $mainFont;
        font-size: $textMD;
        padding: 10px 18px;
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
            &::before{
                text-decoration: none;
                position: absolute;
                content: '';
                height: 10px;
                width: 10px;
                background-color: #ffffff;
                top: -5px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
                z-index: 2;
            }
        }
        .spanNav{
            position: relative;
            height: 50px;
            width: 50px;
            display: block;
            background: #fff;
            align-items: center;
            justify-items: center;
            text-align: center;
            border-radius: 50%;
            z-index: 2;
            box-shadow: 0 10px 10px rgba(0,0,0,0.5);
            .aNav{
                font-size: 23px;
                line-height: 50px;
                color: #4d4d4d;
            }
        }
    }
}

.wrapperNav .iconNav:hover .spanNav .aNav{
        color: #fff;
        text-decoration: none;
}

.wrapperNav .iconNav:hover .spanNav .aNav,
.wrapperNav .iconNav:hover .tooltipNav{
    text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
}

.wrapperNav .home:hover .spanNav,
.wrapperNav .home:hover .tooltipNav,
.wrapperNav .home:hover .tooltipNav::before{
    background: rgb(58, 104, 134);
}

.wrapperNav .tienda:hover .spanNav,
.wrapperNav .tienda:hover .tooltipNav,
.wrapperNav .tienda:hover .tooltipNav::before{
    background: rgb(58, 104, 134);
}

.wrapperNav .contacto:hover .spanNav,
.wrapperNav .contacto:hover .tooltipNav,
.wrapperNav .contacto:hover .tooltipNav::before{
    background: rgb(58, 104, 134);
}

.wrapperNav .carrito:hover .spanNav,
.wrapperNav .carrito:hover .tooltipNav,
.wrapperNav .carrito:hover .tooltipNav::before{
    background: rgb(58, 104, 134);
}

//Footer

footer{
    position: absolute;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(255, 255, 255), rgb(91,192,217));
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    text-decoration: none;
    .icon{
        margin: 0 10px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        cursor: pointer;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
        &:hover .tooltip{
            opacity: 1;
            top: -60px;
            pointer-events: auto;
        }
        .tooltip{
        position: absolute;
        top: 0px;
        background: rgb(214,214,214);
        color:rgb(214,214,214);
        font-family: $mainFont;
        font-size: $textMD;
        padding: 10px 18px;
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
            &::before{
                text-decoration: none;
                position: absolute;
                content: '';
                height: 15px;
                width: 15px;
                background-color: #ffffff;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
            }
        }
        .spanFoot{
            position: relative;
            height: 60px;
            width: 60px;
            display: block;
            background: #fff;
            align-items: center;
            justify-items: center;
            text-align: center;
            border-radius: 50%;
            z-index: 5;
            box-shadow: 0 10px 10px rgba(0,0,0,0.5);
            .aFoot{
                font-size: 23px;
                line-height: 60px;
                color: #4d4d4d;
            }
        }
    }
}

.wrapper .icon:hover .spanFoot .aFoot{
        color: #fff;
        text-decoration: none;
}

.wrapper .icon:hover .spanFoot .aFoot,
.wrapper .icon:hover .tooltip{
    text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
}

.wrapper .face:hover .spanFoot,
.wrapper .face:hover .tooltip,
.wrapper .face:hover .tooltip::before{
    background: #4267b2;
}

.wrapper .tik:hover .tooltip,
.wrapper .tik:hover .tooltip::before{
    background: #000000;
}

.wrapper .tik:hover .spanFoot{
    background: #000000;
    box-shadow: 10px 0px 15px rgba(254, 44, 85, 0.8), -10px 0px 15px rgba(37, 244, 238, 0.8);
}

.wrapper .whats:hover .spanFoot,
.wrapper .whats:hover .tooltip,
.wrapper .whats:hover .tooltip::before{
    background: #075E54;
}


//Text

h1,
h2,
h3,
h4,
h5{
    font-family: $mainFont;
}

h1{
    font-size: $textLg;
    color: $textColor;
    text-shadow: 0 1px $textColor;
    text-align: center;
}

h2,
h3,
h4,
h5{
    font-size: $textSm;
}

p{
    font-family: $secondaryFont;
    font-size: $textSm;
    font-weight: 800;
    text-align: justify;
    color: $textColor;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

.presentation{
    font-family: $cosaFont;
    font-size: $textSm;
    font-weight: 400;
    color: $textColor;
}





















// .navigation{
//     position: relative;
//     width: 70px;
//     height: 300px;
//     background: #fff;
//     border-radius: 35px;
//     box-shadow: 0 15px 25px rgba(0,0,0,0.1);
//     ul{
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         padding: 0;
//         li{
//             position: relative;
//             list-style: none;
//             width: 70px;
//             height: 70px;
//             z-index: 1;
//             a{
//                 position: relative;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 width: 100%;
//                 text-align: center;
//                 color: #333;
//                 font-weight: 500;
//                 .iconNav{
//                     position: relative;
//                     display: block;
//                     line-height: 75px;
//                     text-align: center;
//                     transition: 0.5s;
//                     i{
//                         font-size: 30px;
//                     }
//                 }
//                 .title{
//                     position: absolute;
//                     top: 50%;
//                     left: 110px;
//                     font-family: $mainFont;
//                     font-size: $textSm;
//                     background: #fff;
//                     transform: translateY(-50%);
//                     padding: 5px 5px;
//                     border-radius: 6px;
//                     transition: 0.5s;
//                     box-shadow: rgba(0,0,0,0.1);
//                     opacity: 0;
//                     visibility: hidden;
//                 }
//             }
//         }
//         .indicador{
//             position: absolute;
//             left: 0;
//             width: 70px;
//             height: 70px;
//             transition: 0.5s;
//         }
//     }
// }

// .navigation ul li .activeNav a .bi,.bi-house{
//     color: #fff;
// }

// .navigation ul li:hover a .title{
//     opacity: 1;
//     visibility: visible;
//     transform: translateX(-25px) translateY(-50%); 
// }

// .navigation ul .indicador::before{
//     content: '';
//     position: absolute;
//     top: 55%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     width: 50px;
//     height: 50px;
//     background: #333;
//     border-radius: 50%;
//     transition: 0.5s;
// }

// .navigation ul li a .title::before{
//     content: '';
//     position: absolute;
//     width: 12px;
//     height: 12px;
//     background: #fff;
//     left: -8px;
//     top: 46%;
//     transition: 0.5s;
//     transform: rotate(45deg) translateY(-50%);
//     border-radius: 2px;
//     z-index: -1;
// }