// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Nunito:wght@200;300;500;700;900&family=Rubik:wght@300;400;500&display=swap');

// Vars Font
$mainFont: 'Nunito', sans-serif;
$secondaryFont: 'Rubik', sans-serif;
$cosaFont: 'Kalam', cursive;

// sizes
$textSm: 0.8em;
$textMD: 1em;
$textLg: 1.6em;
$textXl: 3em;