// vars
$mainColor: rgb(212,180,230);
$secondaryColor: rgb(71, 187, 255);
$textColor: rgb(60, 112, 128);
$titleColor: rgb(245,189,228);
$backgroundColorOne: rgb(227, 226, 237);
$backgroundColorTwo: rgb(238,206,206);
$backgroundColorOneDif: rgba(238,237,206,0.7);
$backgroundColorTwoDif: rgba(238,206,206,0.7);
$backgroundColorBody: rgb(255, 255, 255);
$shadowNav: rgba(0,0,0,0.25); 
$shadowNav2: rgba(0,0,0,0.75); 
$shadowNav3: rgba(255,255,255,0.2);
$shadowNav4: rgba(0,0,0,0.5); 
$iconNav: rgb(170,170,170);
$backgroundActiveNav: rgb(250, 76, 235);