<!DOCTYPE html>
<html lang="es-MX">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Segunda Entrega Desafío Final</title>
        <link rel="shortcut icon" href="src/favicon.png">
        
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        
        <!-- CSS -->
        <link rel="stylesheet" href="../CSS/main.css">
    </head>
    <body>
		<header>
			<!-- Inicia Navbar -->
			<nav>
				<div class="wrapperNav">
					<div class="iconNav home">
						<div class="tooltipNav">Home</div>
                        <span class="spanNav"><a href="../index.html" class="bi bi-house aNav"></a></span>
					</div>
					<div class="iconNav tienda">
						<div class="tooltipNav">Tienda</div>
						<span class="spanNav"><a href="tienda.html" class="bi bi-shop aNav"></a></span>
					</div>
					<div class="iconNav contacto">
						<div class="tooltipNav">Contacto</div>
						<span class="spanNav"><a href="contacto.html" class="bi bi-geo-alt aNav"></a></span>
					</div>
					<div class="iconNav carrito">
						<div class="tooltipNav">Carrito</div>
						<span class="spanNav"><a href="carrito.html" class="bi bi-cart2 aNav"></a></span>
					</div>
				</div>
			</nav>

			<!-- Finaliza Navbar -->
		</header>
		<br>
		<main>
            <!-- Inicia formulario -->
            <div class="container-fluid">
                <div class="row">
                    <form id="formulario">
                        <div class="g-3 mt-3 col-11 col-md-4 col-lg-4">
                            <div class="form-control">
                                <label for="nombre" class="formStyle_1">Nombre</label>
                                <input type="text" placeholder="Laura Marcela García Corcuera y Rivadeneira" id="nombre">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                            <div class="form-control">
                                <label for="email" class="formStyle_1">E-mail</label>
                                <input type="email" id="email" placeholder="layoyis@mail.com">
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                            <div class="form-control">
                                <label for="telefono" class="formStyle_1">Teléfono</label>
                                <input type="text" id="telefono" placeholder="3355441166">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                        </div>
                        <div class="g-3 mt-3 col-12 col-md-4 col-lg-4">
                            <div class="form-control">
                                <label for="domicilio" class="formStyle_1">Domicilio</label>
                                <input type="text" id="domicilio" placeholder="Calle y número">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message</small>
                            </div>
                            <div class="form-control">
                                <label for="colonia" class="formStyle_1">Colonia</label>
                                <input type="text" id="colonia" placeholder="Colonia">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                            <div class="form-control">
                                <label for="ciudadMunicipio" class="formStyle_1">Ciudad / Municipo</label>
                                <input type="text" id="ciudadMunicipio" placeholder="Ciudad / Municipo">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                        </div>
                        <div class="g-3 mt-3 col-12 col-md-4 col-lg-4">
                            <div class="form-control">
                                <label for="estado" class="formStyle_1">Estado</label>
                                <input type="text" id="estado" placeholder="Estado">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                            <div class="form-control">
                                <label for="codigoPostal" class="formStyle_1">Codigo Postal</label>
                                <input type="text" id="codigoPostal" placeholder="112233">	
                                <i class="fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error message.</small>
                            </div>
                        </div>
                        <div class="form-control">
                            <label class="formStyle_1" for="referencias">Referencias</label>
                            <br>
                            <textarea class="textZone col-12" name="" id="referencias" cols="30" rows="10" placeholder="Por favor indica todas y cada una de las referencias para poder localizar de manera efectiva tu domicilio, así como las calles entre las que se encuentra. Si se requieren instrucciones adicionales para la entrega, por favor coloca cada una de ellas."></textarea>
                            <i class="fas fa-check-circle"></i>
                            <i class="fas fa-exclamation-circle"></i>
                            <small>Error message.</small>
                        </div>
                        <div id="grupo__terminos">
                            <label class="formulario__label">
                                <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                                Todos los datos son correctos
                            </label>
                        </div>
                        <button class="botonSend" type="submit" id="enviar"><span>Enviar</span></button>
                    </form>
                </div>
            </div>
            <!-- finaliza formulario -->
		</main>
		<footer>
			<div class="wrapper">
				<div class="icon face">
					<div class="tooltip">Face</div>
					<span class="spanFoot"><a href="https://www.facebook.com/profile.php?id=100068507282095" target="_blank" class="bi bi-facebook aFoot"></a></span>
				</div>
				<div class="icon tik">
					<div class="tooltip">TikTok</div>
					<span class="spanFoot"><a href="https://www.tiktok.com/@elcuchurincondesolecin?is_from_webapp=1&sender_device=pc" target="_blank" class="bi bi-tiktok aFoot"></a></span>
				</div>
				<div class="icon whats">
					<div class="tooltip">Whats</div>
					<span class="spanFoot"><a href="https://api.whatsapp.com/send?phone=525620408214" target="_blank" class="bi bi-whatsapp aFoot"></a></span>
				</div>
			</div>
            <div>
                <p>Conoce más en nuestras redes sociale</p>
            </div>
		</footer>
		
		<!-- JavaScript -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>